@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  position: relative;
}

/* Global CSS */

h1 {
  font-size: 3rem;
  font-weight: 600;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 60px;
}
h3 {
  font-size: 1.2rem;
  padding-bottom: 1rem;
  font-weight: 500;
}
#w-btn{
  margin-left: 40px;
  background-color: #fff;
  color: #1f4a40;
  padding: 9px 30px;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 30px;
  outline: 0;
  border: 0;
  cursor: pointer;
}
#g-btn{
  margin-left:10px;
  text-decoration: none;
  background-color: #51a995;
  color: #fff;
  padding: 9px 30px;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 30px;
  cursor: pointer;
  outline: 0;
  border: 0;
}
.sec-space {
  padding: 4rem 0;
}
.extra-space {
  padding-top: 8rem;
}
.obj-width {
  max-width: 1200px;
  margin: auto;
}
 /*-------------------- NAVBAR--------------------- */
 header{
  background-color: #1f4a40;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 999;
  width: 100%;
 }
 #navber{
  /* width: 100%; */
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
 }
 #navber .logo{
  width: 120px;
 }
#menu{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
 }
#menu li a{
  color: #fff;
  text-decoration: none;
  margin-left: 40px;
  font-size: 1.1rem;
  font-weight: 500;
 }
 #bar{
  color: #fff;
  display: none;
 }

/* hero */
.hero{
  background-color: #1f4a40;
}
.hero-box{
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
}
.h-left{
  width: 45%;
  color: #fff;
}
.h-left p{
  padding: 1.5rem 0;
}
.search{
  position: relative;
}
.search input{
  width: 100%;
  height: 4rem;
  border-radius: 35px;
  background-color: #fff;
  border:none;
  font-size: 1rem;
  outline:none;
  padding: 0 20px;
}
.search a{
  position: absolute;
  top: 12px;
  right: 20px;
}
.h-right{
  width: 50%;
}
.h-right img{
  width: 100%;
  object-fit: cover;
}
.features-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#features .features-box div{
  width:200px !important;
}
#features .features-box img{
  width: 50px;
  margin-top: 3rem;
}
/* -------------Jobs--------------------------- */
.jobs .jobs-id{
  margin: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  box-shadow: 2px 2px 15px rgba(0,0,0,0.1);
}
.jobs .jobs-id li{
  padding: 20px 40px;
  color: #000;
  cursor: pointer;
}
.jobs .jobs-id li.active{
  background-color: #51a995;
  color: #fff;
}
.jobs .jlist{
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: start;
  color: #000;
  padding:2rem 2rem;
  border: 1px solid #ccc;
  cursor: pointer;
}
.jobs .jlist h3{
  padding-bottom: 0px;
}
.jobs .jlist.delete{
 display: none;
}
.jobs .jlist:hover{
  background-color: #ecf1ee;
}
.jobs .jlist img{
  width: 40px;
}

.trust .t-box{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap:wrap;
  padding-top: 3rem;
}
.trust .t-box img{
  /* width: 100px; */
  margin: 1rem 1rem 1rem 0;
}

.team-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap:wrap;
}
.team-container .f1-box{
  border: 1px solid #c1e1d9;
  width: 280px;
  padding: 2rem 0;
  border-radius: 20px;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}
.f1-box img{
  border-radius: 50%;
  margin-bottom: 1rem;
}
#key{
  font-size: 0.8rem;
  border-radius: 30px;
  background-color: #edcfee;
  padding: 10px 20px;
  cursor: pointer;
}
.skill{
  padding-bottom: 3rem;
}

/* footer */
footer{
  background-color: #1f4a40;
  padding:4rem 0 ;
  color: #fff;
}
.top{
  display: flex;
  align-items: center;
  text-align: start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.top .logo{
  width: 170px;
  margin-bottom: 1rem;
}
.top i{
  font-size: 2rem;
  margin-left: 0.5rem;
  color: #fff;
}
.bottom{
  display: flex;
  padding-top:2rem ;
  flex-wrap: wrap;
  text-align:start;
  justify-content: space-between;
}
.bottom div{
  display: flex;
  flex-direction: column;
}
.bottom div a{
  text-decoration: none;
  color: #fafafa;
  line-height: 35px;
  font-size: 1.1rem;
}
/* ------------------contact------------------- */

.Contact{
  margin: 5rem auto;
  /* background-color: aqua; */
}
.contact-box{
  margin: 3rem 0;
  display: flex;
  align-items: center;
  justify-content:space-between;
}
.c-left{
  width: 50%;
}
.c-left img{
  width: 100%;
  object-fit: cover;
}
.c-right{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
form input{
  border: 1px solid #ccc;
  margin: 10px 0;
  padding: 10px 50px;
  outline: none;
  font-size: 16px;
  
  color: #000;
  /* background-color: #f5f5f5; */
}
form textarea{
  border: 1px solid #ccc;
  margin: 10px 0;
  padding:15px 50px;
  outline: none;
  font-size: 16px;
  
  color: #000;
  /* background-color: #f5f5f5; */
}
.btn-1{
  margin: 20px 0;
  padding:10px 175px;
  outline: none;
  border-radius: 30px;
  border: 0;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  background-color: #51a995;
}
.map .map-box{
  width: 100%;
  height: 60vh;
  border: 2px solid #ccc;
  overflow: hidden;
}
.map-box iframe{
  width: 100%;
}

/* ---------------browse-------- */
.jobs form{
  width: 100%;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  align-items: center;
  margin: 3rem 0;
  box-shadow: 2px 2px 15px rgba(0,0,0,0.1);
}
.jobs form input{
  width: 100%;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 16px;
  font-weight: 600;
  /* background-color: #51a995; */
  padding: 8px 10px;
}
.jobs form i{
  padding-left: 10px;
}


/* -----------Job-------- */
.border{
  border: 1px solid #51a995;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
}
.border .b-left img{
  width: 50px;
  margin:3rem;
}
.border .b-left{
  width: 200px;
  display: flex;
  align-items: center;
}
.Apply{
  color: #fff;
  background-color:#51a995 !important;
}


@media (max-width:1200px){
  .obj-width {
    width:95%;
    margin: auto;
  }
}
 @media (max-width:699px) {
  #navber{
    width: 100%;
    padding: 0 20px;
    overflow: hidden;
   }
  #menu{
    display: block;
    list-style: none;
    background-color:#fff;
    border-radius: 13px;
    opacity:0;
    width: 280px;
    height: auto;
    position: absolute;
    top: 80px;
    right:-100%;
    padding: 30px 0;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
   }
   #menu.active{
    right: 10px;
    opacity: 1;
   }

   #menu li{
    padding: 1.1rem;
   }
   #menu li a{
    color: #1f4a40;
   }
   #bar{
    display: block;
    font-size: 1.7rem;
    cursor: pointer;
  }
  #w-btn{
    background-color: #1f4a40;
    color: #fff;
    margin: 20px 0 0 50px;
  }
  .hero-box{
    flex-direction: column-reverse;
    align-items:start;
    justify-content:center;
    padding: 5rem 0;
  }
  .h-left{
    width: 100%;
  }
  .h-right{
    display: none;
  }
  .jobs .jobs-id{
    position: relative;
    width: 100%;
    overflow-x: scroll;
    -ms-overflow-style:none;
    scrollbar-width:none;
  }
  .jobs .jobs-id li{
    padding: 20px 30px;
    text-wrap: nowrap;
  }
  .jobs-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2rem;
  }
  .jobs .jlist{
    width: 48%;
    margin-top: 1rem;
    grid-template-columns: repeat(1, 1fr);
    grid-gap:15px;
    padding: 2rem 1rem;
    text-align: center;
    justify-items: center;
  }
  .team-container .f1-box{
    width: 48%;
    text-align: center;
    border-radius: 10px;
    margin-top: 1rem;
  }
  .f1-box #g-btn{
    font-size: 0.8rem;
    margin-right: 1.3rem;
  }
  .skill{
    padding-bottom: 1rem;
  }
  .top i{
    margin: 1rem 1rem 0 0;
  }
  .bottom div{
    width: 50%;
    margin-bottom: 50px;
  }
  .contact-box{
    display: block;
    flex-wrap: wrap !important;
  }
  .c-left{
    width: 100%;
  }
  .c-left img{
    width: 100%;
  }
  .c-right{
    width: 90%;
    margin: auto;
  }
  .Contact{
    margin: 3rem auto;
  }
 }